html,body{
  background-color: black;
  color:white;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.extra-details{
  display:none;
}

#my-video-block{
  position:fixed;
  top:5px;
  right:5px;
}
#my-video-block video{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#video-block{
  position:fixed;
  bottom:5px;
  left:5px;
}